<footer class="footer footnote">
  <p>
    The A-Frame project is licensed under the <a href="<%= site.licenses.code.url %>" rel="external"><%= site.licenses.code.name %></a>.
    Content on this site is licensed under the <a href="<%= site.licenses.content.url %>" rel="external"><%= site.licenses.content.name %></a>.
  </p>
  <p>
    Found a typo or suggestion for the docs?
    <br><br>
    <a href="<%= website_github_edit_url(item.path) %>" class="github-file-link" rel="external">Suggest an edit on GitHub</a>
  </p>

  <span class="sponsor" itemscope itemprop="organization" itemtype="http://schema.org/Organization">
    <div class="message">Supported by</div>
    <span itemprop="sponsor" itemscope itemtype="http://schema.org/Organization">
      <a class="mozilla-logo" itemprop="url" href="https://www.mozilla.org/" rel="external">
        <span itemprop="name" content="Mozilla" title="Mozilla"></span>
      </a>
    </span>
  </span>
</footer>
